*~
lib/.dirstamp
*.o
*.d.*
*.so
*.d
*.t
*.tar.gz
*.scan
*.log
autom4te.cache*
*.swp
Makefile
Makefile.in
config.guess
config.status
config.sub
configure
install-sh
test-driver
lib/.deps/*
nss/.deps/*
aclocal.m4
missing
depcomp
stamp-h1
.deps/*
*.lo
compile
libtool
ltmain.sh
config.h*
.lib*
m4*
*.la
*.trs
*.Po